
#fixedContainerLeft
{
 
  position: auto;

  max-height: 900px;


  overflow:auto;

  margin-top: 30px;


}

#fixedContainerRight
{
  position: fixed;

  max-height: 900px;
  /* min-width: 600px; */

  overflow:auto;

  margin-top: 65px;


}

#loading {
  background: url('../img/rick.gif') no-repeat center center;
  background-color: #e1e7ef;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

